.PostContainer {
  container-name: postimage;
  container-type: inline-size;
  width: 100%;
  /* 或 container: inline-size; 也可以 */
}
.PostContainer .PostImageWraper {
  display: grid;
  gap: 8px;
  padding-top: 12px;
  width: 100%;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: 1fr;
}
.PostContainer .PostImageWraper img:nth-of-type(n + 6) {
  display: none;
}
.PostContainer .PostImageWraper .PostImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
